body{
    background-image: url(../asserts/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    background-color: greenyellow;
}
p{
    font-size: 30px;
    font-family: cursive;
    color: coral;
}
